name: ci_lab

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Every dash is a step
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -B package --file pom.xml
